Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": "npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui",
  "packages/icons/**/*.{js,jsx,ts,tsx}": "npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons",
  "commander/**/*.{js}": "npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander"
}

feat(UIKIT-508,ui,Collapse): Экспорт Collapse компонента (#459)
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Delete label_reviews.yml
  .github/workflows/label_reviews.yml
Due: none

Notes added by 'git notes add'
  b7ad44365abd9adfbfc55f22d4b3d52d6e01b558
Due: none

feat(UIKIT-512,icons): Добавлены иконки для Stepper (#460)
  packages/icons/index.stories.tsx
  packages/icons/themed-assets/circleError-fill-md.svg
  packages/icons/themed-assets/stepDefault-fill-md.svg
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

Notes added by 'git notes add'
  02847e2e924fe1397a934271db80dcf8ee2ce3c0
Due: none

feat(UIKIT-512,ui,Stepper): Иконки из icons пакета
  package-lock.json
  packages/ui/package.json
  packages/ui/src/Stepper/StepIcon/ErrorIcon.tsx
  packages/ui/src/Stepper/StepIcon/Icon.tsx
  packages/ui/src/Stepper/StepIcon/StepIcon.tsx
  packages/ui/src/Stepper/StepIcon/styles.ts
  packages/ui/src/Stepper/Stepper.stories.tsx
  packages/ui/src/Stepper/Stepper.tsx
  packages/ui/src/Stepper/styles.ts
  packages/ui/src/theme/components/MuiStepConnector.ts
  packages/ui/src/theme/components/components.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): Исправлены цвета для иконок
  packages/ui/src/Stepper/StepIcon/StepIcon.tsx
  packages/ui/src/Stepper/StepIcon/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-519,ui,DataGrid): Исправлено отображение плейсхолдера в FF
  packages/ui/src/DataGrid/DataGridBody/styles.ts
  packages/ui/src/DataGrid/DataGridNoData/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(UIKIT-509): Внедрен playwright для компонентного тестирования
  package-lock.json
  package.json
  packages/ui/package.json
  packages/ui/src/types.ts
  playwright-ct.config.ts
  playwright/.eslintrc
  playwright/common/theme.ts
  playwright/package.json
  playwright/tests/Autocomplete.test.tsx
  playwright/tests/Button.test.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(UIKIT-509): Настроен playwright
  .gitignore
  package-lock.json
  package.json
  packages/ui/.eslintrc
  packages/ui/package.json
  packages/ui/playwright-ct.config.ts
  packages/ui/playwright/common/Mount.tsx
  packages/ui/playwright/common/getTheme.ts
  packages/ui/playwright/common/theme.ts
  packages/ui/playwright/common/utils.ts
  packages/ui/playwright/index.html
  packages/ui/playwright/index.ts
  packages/ui/playwright/tests/Autocomplete.test.tsx
  packages/ui/playwright/tests/Button.test.tsx
  playwright/.eslintrc
  playwright/common/Mount.tsx
  playwright/common/index.ts
  playwright/package.json
  playwright/tsconfig.json
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): Исправлено отсутствие orientation и убран оверайд Stepper
  packages/ui/src/Stepper/Stepper.stories.tsx
  packages/ui/src/Stepper/Stepper.tsx
  packages/ui/src/Stepper/styles.ts
  packages/ui/src/theme/components/MuiStep.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(UIKIT-509): Настроен playwright
  package-lock.json
  package.json
  packages/ui/package.json
  packages/ui/playwright/common/utils.ts
  packages/ui/playwright/tests/Autocomplete.test.tsx
  packages/ui/playwright/tests/Button.test.tsx
  playwright-ct.config.ts
  playwright/.eslintrc
  playwright/common/Mount.tsx
  playwright/common/theme.ts
  playwright/common/utils.ts
  playwright/index.html
  playwright/index.ts
  playwright/package.json
  playwright/tests/ui/Button.test.tsx
  playwright/tsconfig.json
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(UIKIT-509): Настроен tsconfig
  playwright/global.d.ts
  playwright/tsconfig.json
Due: none

chore(UIKIT-509): Настроен CI для playwright
  .github/workflows/chromatic.yml
  .github/workflows/component_tests.yml
Due: none

chore(UIKIT-509): Настроен CI для playwright
  .github/workflows/component_tests.yml
Due: none

feat(UIKIT-512,ui,Stepper): Убран export
  packages/ui/src/Stepper/Stepper.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(UIKIT-509): Поправлена команда для запуска оуые
  playwright/package.json
Due: none

feat(UIKIT-512,ui,Stepper): ArrowStepperConnector вынесен как компонент
  packages/ui/src/Stepper/ArrowStepperConnector/ArrowStepperConnector.tsx
  packages/ui/src/Stepper/ArrowStepperConnector/index.ts
  packages/ui/src/Stepper/Stepper.stories.tsx
  packages/ui/src/Stepper/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): ArrowConnector как compound components
  packages/ui/src/Stepper/ArrowConnector/ArrowStepperConnector.tsx
  packages/ui/src/Stepper/ArrowConnector/index.ts
  packages/ui/src/Stepper/Stepper.stories.tsx
  packages/ui/src/Stepper/Stepper.tsx
  packages/ui/src/Stepper/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): Возможность подключать ArrowConnector через 'arrow'
  packages/ui/src/Stepper/StepConnector/index.ts
  packages/ui/src/Stepper/Stepper.stories.tsx
  packages/ui/src/Stepper/Stepper.tsx
  packages/ui/src/Stepper/enums.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): Исправил названия коннектора
  packages/ui/src/Stepper/ArrowConnector/ArrowConnector.tsx
  packages/ui/src/Stepper/ArrowConnector/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): Реализован горизонтальный степпер (#457)
  package-lock.json
  packages/ui/package.json
  packages/ui/src/Stepper/ArrowConnector/ArrowConnector.tsx
  packages/ui/src/Stepper/ArrowConnector/index.ts
  packages/ui/src/Stepper/Step/index.ts
  packages/ui/src/Stepper/StepConnector/index.ts
  packages/ui/src/Stepper/StepIcon/StepIcon.tsx
  packages/ui/src/Stepper/StepIcon/index.ts
  packages/ui/src/Stepper/StepIcon/styles.ts
  packages/ui/src/Stepper/StepLabel/StepLabel.tsx
  packages/ui/src/Stepper/StepLabel/index.ts
  packages/ui/src/Stepper/Stepper.stories.tsx
  packages/ui/src/Stepper/Stepper.tsx
  packages/ui/src/Stepper/enums.ts
  packages/ui/src/Stepper/index.ts
  packages/ui/src/index.ts
  packages/ui/src/theme/components/MuiStep.ts
  packages/ui/src/theme/components/MuiStepConnector.ts
  packages/ui/src/theme/components/MuiStepLabel.ts
  packages/ui/src/theme/components/components.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  e8a6496f9b26262ed828307c2d7cd8453dec33c7
Due: none

bug(UIKIT-519,ui,DataGrid): Исправлено отображение плейсхолдера в FF (#462)
  packages/ui/src/DataGrid/DataGridBody/styles.ts
  packages/ui/src/DataGrid/DataGridNoData/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  e7a425ec3788527e20dd96a35d6d5b7ea66a4310
Due: none

chore(UIKIT-509): Внедрен rtl
  jest-setup.ts
  jest.config.js
  package-lock.json
  package.json
  packages/ui/jest-setup.ts
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/Button/Button.test.tsx
  tests/.eslintrc
  tests/global.d.ts
  tests/package.json
  tests/src/ThemeWrapper.tsx
  tests/src/index.ts
  tests/src/renderWithTheme.ts
  tests/src/theme.ts
  tests/src/utils.ts
  tests/tsconfig.json
  tsconfig.json
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Create pr_review_removed.yml
  .github/workflows/pr_review_removed.yml
Due: none

Update pr_review_requested_telegram_notification.yml
  .github/workflows/pr_review_requested_telegram_notification.yml
Due: none

Update label-requires-reviews.yml
  .github/label-requires-reviews.yml
Due: none

Create label_reviews.yml
  .github/label_reviews.yml
Due: none

Update label_reviews.yml
  .github/label_reviews.yml
Due: none

Delete label_reviews.yml
  .github/label_reviews.yml
Due: none

Create label_reviews.yml
  .github/workflows/label_reviews.yml
Due: none

chore(UIKIT-509): Внедрен rtl + написан тест для Button
  packages/form/jest.config.js
  packages/ui/jest-setup.ts
  packages/ui/jest.config.js
  packages/ui/src/Button/Button.test.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/constants.ts
  packages/ui/src/Button/index.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/generateTestID/generateTestID.test.ts
  packages/ui/src/utils/generateTestID/generateTestID.ts
  packages/ui/src/utils/generateTestID/index.ts
  packages/ui/src/utils/index.ts
  tests/jest-setup.ts
  tests/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui
