Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

chore(UIKIT-431): Сделан билд пакетов для examples
  .github/workflows/ci_packages.yml
  example/build-packages.js
  example/package-lock.json
  example/package.json
  example/tsconfig.json
  package-lock.json
  package.json
Due: none

chore(UIKIT-431): Добавлена команда билда зависимостей для example
  example/package-lock.json
  example/package.json
Due: none

chore(UIKIT-431,commander): Build больше не изменяет исходный package.json
  commander/src/modifyPackageJSON/modifyPackageJSON.js
Due: none

chore(UIKIT-431): Изменен pipeline в ci для проверки example
  .github/workflows/ci_packages.yml
  example/package-lock.json
Due: none

doc(UIKIT-431): Написан migration guide
  example/README.md
  packages/ui/README.md
Due: none

doc(UIKIT-431,ui): Fix README.md
  packages/ui/README.md
Due: none

chore(UIKIT-431): В example убрана лишняя зависимость
  example/package.json
Due: none

bug(UIKIT-487,form,hooks): Исправлено описание
  packages/form/src/hooks/useFieldProps/useFieldProps.ts
Due: none

bug(UIKIT-487,form,hooks): Переименовал хуки, добавив к ним Form
  packages/form/src/FormAutocomplete/FormAutocomplete.tsx
  packages/form/src/FormCheckbox/FormCheckbox.tsx
  packages/form/src/FormDatePicker/FormDatePicker.tsx
  packages/form/src/FormMaskField/FormMaskField.tsx
  packages/form/src/FormMobilePhoneField/FormMobilePhoneField.tsx
  packages/form/src/FormSelect/FormSelect.tsx
  packages/form/src/FormTextArea/FormTextArea.tsx
  packages/form/src/FormTextField/FormTextField.tsx
  packages/form/src/hooks/index.ts
  packages/form/src/hooks/useFieldErrorProps/index.ts
  packages/form/src/hooks/useFieldProps/index.ts
  packages/form/src/hooks/useFormFieldErrorProps/index.ts
  packages/form/src/hooks/useFormFieldErrorProps/useFormFieldErrorProps.ts
  packages/form/src/hooks/useFormFieldProps/index.ts
  packages/form/src/hooks/useFormFieldProps/useFormFieldProps.ts
  packages/form/src/hooks/useFormInputProps/index.ts
  packages/form/src/hooks/useFormInputProps/useFormInputProps.ts
  packages/form/src/hooks/useInputProps/index.ts
Due: none

feat(UIKIT-580,icons): Сбилдил иконки
  packages/icons/generated-themed-icons/index.ts
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

feat(UIKIT-580,icons): Сбилдил иконки
  packages/icons/generated-themed-icons/CertOutlineMd.tsx
  packages/icons/generated-themed-icons/SaveOutlineMd.tsx
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

feat(UIKIT-580,icons): Добавлены иконки save и cert (#509)
  packages/icons/generated-themed-icons/CertOutlineMd.tsx
  packages/icons/generated-themed-icons/SaveOutlineMd.tsx
  packages/icons/generated-themed-icons/index.ts
  packages/icons/themed-assets/cert-outline-md.svg
  packages/icons/themed-assets/save-outline-md.svg
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

Notes added by 'git notes add'
  af/96e022ab9670d9f44239b3a693fb7cb0e433ea
Due: none

feat(UIKIT-587,ui,Autocomplete): Добавлен пропс isOptionEqualToValue
  packages/ui/src/Autocomplete/Autocomplete.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-587,ui,Autocomplete): Поправил нейминг
  packages/ui/src/Autocomplete/Autocomplete.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-587,ui,Autocomplete): Добавлен пропс isOptionEqualToValue (#510)
  packages/ui/src/Autocomplete/Autocomplete.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  61/2b0ec79d9b2f02af0536baf7c27873fc38b475
Due: none

feat(UIKIT-493,validations,isEmail): Исправлены наименования тестов
  packages/validations/src/isEmail/isEmail.test.ts
Due: none

feat(UIKIT-495,validations,isEmail): Исправлен description функции
  packages/validations/src/composeSome/composeSome.ts
Due: none

feat(UIKIT-493,validations,isEmail): Добавлен валидатор email (#507)
  packages/validations/src/index.ts
  packages/validations/src/isEmail/index.ts
  packages/validations/src/isEmail/isEmail.test.ts
  packages/validations/src/isEmail/isEmail.ts
Due: none

Notes added by 'git notes add'
  68/76a58068d5a77304c4dc09146621b554977a7b
Due: none

chore(UIKIT-431): Для semantic release добавлен enum next
  release.config.js
Due: none

chore(UIKIT-431): Для next ветки включен ci
  .github/workflows/chromatic.yml
  .github/workflows/chromatic_noop.yml
  .github/workflows/ci_packages.yml
  .github/workflows/pr_approved_telegram_notification.yml
  .github/workflows/pr_merged_telegram_notification.yml
  .github/workflows/pr_opened_telegram_notification.yml
  .github/workflows/pr_review_removed.yml
  .github/workflows/pr_review_requested_telegram_notification.yml
  .github/workflows/pull_request_lint.yml
Due: none

chore(UIKIT-431): Изменено название PRLinter
  .github/workflows/pull_request_lint.yml
  PRLinter/.eslintrc
  PRLinter/index.js
  PRLinter/lintPRTitle/index.js
  PRLinter/lintPRTitle/lintPRTitle.js
  PRLinter/package.json
  PRLinter/vitest.config.mjs
Due: none

feat(UIKIT-590,form): Для всех экспортируемых модулей добавлен Form префикс
  CONTRIBUTING.md
  example/src/shared/ui/form/FormAutocomplete/FormAutocomplete.tsx
  example/src/shared/ui/form/external.ts
  packages/form/src/Form/Form.stories.tsx
  packages/form/src/FormAutocomplete/FormAutocomplete.stories.tsx
  packages/form/src/FormAutocomplete/FormAutocomplete.tsx
  packages/form/src/FormCheckbox/FormCheckbox.stories.tsx
  packages/form/src/FormCheckbox/FormCheckbox.tsx
  packages/form/src/FormDatePicker/FormDatePicker.stories.tsx
  packages/form/src/FormDatePicker/FormDatePicker.tsx
  packages/form/src/FormMaskField/FormMaskField.stories.tsx
  packages/form/src/FormMaskField/FormMaskField.tsx
  packages/form/src/FormMobilePhoneField/FormMobilePhoneField.stories.tsx
  packages/form/src/FormMobilePhoneField/FormMobilePhoneField.tsx
  packages/form/src/FormSelect/FormSelect.stories.tsx
  packages/form/src/FormSelect/FormSelect.tsx
  packages/form/src/FormSubmitButton/FormSubmitButton.stories.tsx
  packages/form/src/FormSubmitButton/FormSubmitButton.test.tsx
  packages/form/src/FormSubmitButton/FormSubmitButton.tsx
  packages/form/src/FormSubmitButton/index.ts
  packages/form/src/FormTextArea/FormTextArea.stories.tsx
  packages/form/src/FormTextArea/FormTextArea.tsx
  packages/form/src/FormTextField/FormTextField.stories.tsx
  packages/form/src/FormTextField/FormTextField.tsx
  packages/form/src/SubmitButton/SubmitButton.tsx
  packages/form/src/SubmitButton/index.ts
  packages/form/src/hooks/index.ts
  packages/form/src/hooks/useFieldError/index.ts
  packages/form/src/hooks/useFormFieldErrorProps/index.ts
  packages/form/src/hooks/useFormFieldErrorProps/useFormFieldErrorProps.ts
  packages/form/src/index.ts
Due: none

doc(UIKIT-590,form): Добавлен migration guide
  packages/form/README.md
  packages/ui/README.md
Due: none

feat(UIKIT-591,components): Удален DatePickerProvider
  packages/components/src/ConfigProvider/ConfigProvider.tsx
  packages/components/src/DatePickerProvider/DatePickerProvider.tsx
  packages/components/src/DatePickerProvider/index.ts
  packages/components/src/index.ts
  packages/ui/README.md
Due: none

chore(UIKIT-431): Настроен major релиз и CI для next ветки (#511)
  .github/workflows/chromatic.yml
  .github/workflows/chromatic_noop.yml
  .github/workflows/ci_packages.yml
  .github/workflows/pr_approved_telegram_notification.yml
  .github/workflows/pr_merged_telegram_notification.yml
  .github/workflows/pr_opened_telegram_notification.yml
  .github/workflows/pr_review_removed.yml
  .github/workflows/pr_review_requested_telegram_notification.yml
  .github/workflows/pull_request_lint.yml
  PRLinter/.eslintrc
  PRLinter/index.js
  PRLinter/lintPRTitle/index.js
  PRLinter/lintPRTitle/lintPRTitle.js
  PRLinter/package.json
  PRLinter/vitest.config.mjs
  release.config.js
Due: none

feat(UIKIT-591,components): Удален DatePickerProvider (#513)
  packages/components/src/ConfigProvider/ConfigProvider.tsx
  packages/components/src/DatePickerProvider/DatePickerProvider.tsx
  packages/components/src/DatePickerProvider/index.ts
  packages/components/src/index.ts
  packages/ui/README.md
Due: none

chore: Для релизов добавлен тэг major
  CONTRIBUTING.md
  release.config.js
Due: none

test(UIKIT-590): Поправлены типа form и команда проверки пакета
  .github/workflows/ci_packages.yml
  example/package-lock.json
  example/src/shared/ui/form/hooks/useForm/useForm.ts
  packages/form/src/index.ts
Due: none

feat(UIKIT-590,form): Добавлен реэкспорт новых эелементов формы из rhf
  packages/form/src/index.ts
Due: none

feat(UIKIT-93,ui,RangeDatePicker): совмещение логики DatePicker и RangeDatePicker
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/DatePickerInput/DatePickerInput.tsx
  packages/ui/src/DatePicker/DatePickerPopper/DatePickerPopper.tsx
  packages/ui/src/DatePicker/DayPicker/DayPicker.tsx
  packages/ui/src/DatePicker/DayPicker/hooks/useDaysGrid/useDaysGrid.ts
  packages/ui/src/DatePicker/MonthPicker/MonthPicker.tsx
  packages/ui/src/DatePicker/MonthPicker/hooks/useMonthsGrid/useMonthsGrid.ts
  packages/ui/src/DatePicker/YearMonthDayPicker/YearMonthDayPicker.tsx
  packages/ui/src/DatePicker/YearPicker/YearPicker.tsx
  packages/ui/src/DatePicker/YearPicker/hooks/useYearsGrid/useYearsGrid.ts
  packages/ui/src/DatePicker/hooks/useMaskedValueAndSelectedBaseDate/index.ts
  packages/ui/src/DatePicker/hooks/useMaskedValueAndSelectedBaseDate/useMaskedValueAndSelectedBaseDate.ts
  packages/ui/src/DatePicker/hooks/useSelectedBaseDate/useSelectedBaseDate.ts
  packages/ui/src/DatePicker/types/gridBuilder.ts
  packages/ui/src/DatePicker/types/pickerProps.ts
  packages/ui/src/DatePicker/utils/buildGridItem/buildGridResult.ts
  packages/ui/src/DatePicker/utils/index.ts
  packages/ui/src/DatePicker/utils/isDateBetweenSelectedAndRangeDates/index.ts
  packages/ui/src/DatePicker/utils/isDateBetweenSelectedAndRangeDates/isDateBetweenSelectedAndRangeDates.ts
  packages/ui/src/DateRangePicker/DateRangePicker.stories.tsx
  packages/ui/src/DateRangePicker/DateRangePicker.tsx
  packages/ui/src/utils/date/isDateOutOfRange/isDateOutOfRange.test.ts
  packages/ui/src/utils/date/isDateOutOfRange/isDateOutOfRange.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-93,ui,RangeDatePicker): стили для выбранного интервала
  packages/ui/src/DatePicker/DateCalendar/DateCalendarBtn/DateCalendarBtn.tsx
  packages/ui/src/DatePicker/DateCalendar/DateCalendarBtnTooltip/DateCalendarBtnTooltip.tsx
  packages/ui/src/DatePicker/DateCalendar/DateCalendarBtnTooltip/index.ts
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtn/DateCalendarGridBtn.tsx
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtn/constants.ts
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtn/index.ts
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtn/styles.ts
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtnLarge/DateCalendarGridBtnLarge.tsx
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtnLarge/index.ts
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtnLarge/styles.ts
  packages/ui/src/DatePicker/DateCalendar/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-93,ui,RangeDatePicker): фиксы
  packages/ui/src/DatePicker/DateCalendar/DateCalendarBody/styles.ts
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtn/DateCalendarGridBtn.tsx
  packages/ui/src/DatePicker/DateCalendar/DateCalendarGridBtn/styles.ts
  packages/ui/src/DatePicker/DatePicker.test.tsx
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/DatePickerPopper/DatePickerPopper.tsx
  packages/ui/src/DatePicker/DayPicker/DayPicker.tsx
  packages/ui/src/DatePicker/MonthPicker/MonthPicker.tsx
  packages/ui/src/DatePicker/YearPicker/YearPicker.tsx
  packages/ui/src/DatePicker/constants/counts.ts
  packages/ui/src/DatePicker/hooks/useMaskedValueAndSelectedBaseDate/useMaskedValueAndSelectedBaseDate.ts
  packages/ui/src/DateRangePicker/DateRangePicker.stories.tsx
  packages/ui/src/DateRangePicker/DateRangePicker.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-93,ui,RangeDatePicker): новый хук useFocusAway
  packages/ui/src/DateRangePicker/DateRangePicker.tsx
  packages/ui/src/hooks/useFocusAwayEffect/index.ts
  packages/ui/src/hooks/useFocusAwayEffect/useFocusAwayEffect.test.ts
  packages/ui/src/hooks/useFocusAwayEffect/useFocusAwayEffect.ts
  packages/ui/src/hooks/useToggle/useToggle.ts
  packages/ui/src/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-93,ui,RangeDatePicker): фикс наименования переменной
  packages/ui/src/DatePicker/DatePicker.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-93,ui,RangeDatePicker): новый хук usePopperHooks
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/DatePickerPopper/DatePickerPopper.tsx
  packages/ui/src/DateRangePicker/DateRangePicker.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/usePopperHooks/index.ts
  packages/ui/src/hooks/usePopperHooks/usePopperHooks.test.ts
  packages/ui/src/hooks/usePopperHooks/usePopperHooks.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: Обновлен commitlint config
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons: any of: packages/icons/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander: any of: commander/**/*.{js}
