Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

wip(@astral/ui, List): Правки по ревью: Вынес StyledList в styled.ts
  packages/ui/src/List/List.tsx
  packages/ui/src/List/styled.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(@astral/ui, List): Правки по ревью: Вынес StyledList в styled.ts
  packages/ui/src/List/List.tsx
  packages/ui/src/List/styled.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Update release.yaml
  .github/workflows/release.yaml
Due: none

Update pr_approved_telegram_notification.yml
  .github/workflows/pr_approved_telegram_notification.yml
Due: none

Update pr_commented_telegram_notification.yml
  .github/workflows/pr_commented_telegram_notification.yml
Due: none

Update pr_merged_telegram_notification.yml
  .github/workflows/pr_merged_telegram_notification.yml
Due: none

Update pr_opened_telegram_notification.yml
  .github/workflows/pr_opened_telegram_notification.yml
Due: none

Update pr_review_requested_telegram_notification.yml
  .github/workflows/pr_review_requested_telegram_notification.yml
Due: none

wip(ui, Datapicker): Стилизация компонента
  packages/ui/src/DatePicker/DatePicker.stories.tsx
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/styled.ts
  packages/ui/src/DatePicker/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

refactor(@astral/icons, Icon): Добавлены размеры для иконок в story
  packages/icons/index.stories.tsx
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

[create-pull-request] automated change
  package-lock.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: none

test commitlint
  .simple-git-hooks.json
  commitlint.config.js
  package-lock.json
  package.json
Due: none

test commitlint
  commitlint.config.js
  package-lock.json
  package.json
Due: none

test commitlint
  .simple-git-hooks.json
Due: none

chore(Test): test commitlint
  .huskyrc
  .simple-git-hooks.json
  CONTRIBUTING.md
  commitlint.config.js
  package-lock.json
  package.json
Due: none

chore(ui): test commitlint
  commitlint.config.js
Due: none

chore(theme): test commitlint
  commitlint.config.js
Due: none

chore(ui,theme): test commitlint
  commitlint.config.js
Due: none

doc: обновлены правила коммитов в CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: поправлен конфиг commitlint
  commitlint.config.js
Due: none

ci: Обновлены версии пакетов до 0.7.1-test.8
  package-lock.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: none

bug(@astral/ui, Tag): исправлен невалидный пропс Size, стили удаляемого тега, а также скорректировано отображение цвета primary
  package-lock.json
  packages/ui/src/Tag/Tag.stories.tsx
  packages/ui/src/Tag/Tag.tsx
  packages/ui/src/Tag/constants.ts
  packages/ui/src/Tag/styled.tsx
  packages/ui/src/Tag/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(@astral/ui, List): Переработаны и разграничены представления в storyBook для List и дочерних его компонентов
  packages/ui/src/List/List.stories.tsx
  packages/ui/src/ListItem/ListItem.stories.tsx
  packages/ui/src/ListItemButton/ListItemButton.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

ci: Обновлены версии пакетов до 0.7.1-test.9
  package-lock.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: none

ci: Обновлены версии пакетов до 0.7.1-test.10
  package-lock.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: none

Path conditions:
  npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons: any of: packages/icons/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander: any of: commander/**/*.{js}
