Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": "npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui",
  "packages/icons/**/*.{js,jsx,ts,tsx}": "npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons",
  "commander/**/*.{js}": "npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander"
}

feat(UIKIT-496,ui,ActionCell): Добавлен пропс position для тултипа (#447)
  packages/ui/src/ActionCell/ActionCell.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  581e45e32341e25c381d7150929c72d4663cda12
Due: none

feat(UIKIT-506,ui,useRadioGroup): Экспорт хука useRadioGroup
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useRadioGroup/index.ts
  packages/ui/src/hooks/useRadioGroup/useRadioGroup.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-506,ui,useRadioGroup): Экспорт хука useRadioGroup (#452)
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useRadioGroup/index.ts
  packages/ui/src/hooks/useRadioGroup/useRadioGroup.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  6084ee4800a1e6775cf8b7226c5de800fedb1392
Due: none

feat(UIKIT-506,ui,useRadioGroup)
  README.md
Due: none

feat(UIKIT-506,ui,useRadioGroup): Экспорт хука useRadioGroup (#453)
  README.md
Due: none

Notes added by 'git notes add'
  b909fcb8036acadc4ae64eb796ecb525516c8cfc
Due: none

doc: Добавлено описание модели ветвления GIT
  CONTRIBUTING.md
Due: none

doc: Добавлено описание модели ветвления GIT (#454)
  CONTRIBUTING.md
Due: none

bug(UIKIT-503,ui,NavMenuItem): Добавил анимацию на изменение цвета
  packages/ui/src/NavMenu/NavMenuItem/NavMenuItemButton/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(UIKIT-503,ui,NavMenuItem): Изменил длину анимации
  packages/ui/src/NavMenu/NavMenuItem/NavMenuItemButton/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(UIKIT-476): Исправлена проблема конкурирующих релизов
  .github/workflows/create_release.yml
Due: none

chore(UIKIT-476): Исправлена проблема конкурирующих релизов (#455)
  .github/workflows/create_release.yml
Due: none

bug(UIKIT-503,ui,NavMenuItem): Цвета состояний теперь соответствуют макетам (#451)
  packages/ui/src/NavMenu/NavMenuItem/NavMenuItem.tsx
  packages/ui/src/NavMenu/NavMenuItem/NavMenuItemButton/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  87612a8bc184816777e7244c3ee3f9364a54d7c7
Due: none

chore(UIKIT-509): Внедрен cypress для компонентного тестирования
  cypress.config.ts
  cypress/.eslintrc
  cypress/common/theme.ts
  cypress/component/ui/Button.cy.tsx
  cypress/fixtures/example.json
  cypress/global.d.ts
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.tsx
  cypress/tsconfig.json
  package-lock.json
  package.json
  vite.config.js
Due: none

bug(UIKIT-503,ui,NavMenuItem): Цвета состояний теперь соответствуют макетам
  README.md
Due: none

bug(UIKIT-503,ui,NavMenuItem): Цвета состояний теперь соответствуют макетам (#456)
  README.md
Due: none

Notes added by 'git notes add'
  693092cc6ede9074d08a41a7c9e526910070d363
Due: none

chore(UIKIT-509): Внедрен playwright для компонентного тестирования
  .gitignore
  package-lock.json
  package.json
  playwright-ct.config.ts
  playwright/.eslintrc
  playwright/common/Mount.tsx
  playwright/common/index.ts
  playwright/common/theme.tsx
  playwright/index.html
  playwright/index.ts
  playwright/tests/Button.test.tsx
  playwright/tsconfig.json
Due: none

feat(UIKIT-512,ui,Stepper): Реализован горизонтальный степпер
  packages/ui/src/Stepper/Step/Step.tsx
  packages/ui/src/Stepper/Step/index.ts
  packages/ui/src/Stepper/StepIcon/ErrorIcon.tsx
  packages/ui/src/Stepper/StepIcon/Icon.tsx
  packages/ui/src/Stepper/StepIcon/StepIcon.tsx
  packages/ui/src/Stepper/StepIcon/index.ts
  packages/ui/src/Stepper/StepIcon/styles.ts
  packages/ui/src/Stepper/Stepper.stories.tsx
  packages/ui/src/Stepper/Stepper.tsx
  packages/ui/src/Stepper/index.ts
  packages/ui/src/Stepper/styles.ts
  packages/ui/src/index.ts
  packages/ui/src/theme/components/MuiStep.ts
  packages/ui/src/theme/components/MuiStepLabel.ts
  packages/ui/src/theme/components/components.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): Деструктуризирован объект с классами
  packages/ui/src/theme/components/MuiStepLabel.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): StepLabel вынесен, как компонент
  packages/ui/src/Stepper/Step/Step.tsx
  packages/ui/src/Stepper/Step/index.ts
  packages/ui/src/Stepper/StepConnector/index.ts
  packages/ui/src/Stepper/StepLabel/StepLabel.tsx
  packages/ui/src/Stepper/StepLabel/index.ts
  packages/ui/src/Stepper/Stepper.stories.tsx
  packages/ui/src/Stepper/Stepper.tsx
  packages/ui/src/Stepper/index.ts
  packages/ui/src/Stepper/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-512,ui,Stepper): Исправлены импорты в styles
  packages/ui/src/Stepper/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(UIKIT-516,ui,DataGrid): Добавлена возможность растягиваться по высоте контейнера
  packages/ui/src/DataGrid/DataGrid.stories.tsx
  packages/ui/src/DataGrid/DataGrid.tsx
  packages/ui/src/DataGrid/DataGridBody/styles.ts
  packages/ui/src/DataGrid/DataGridLoader/DataGridLoader.tsx
  packages/ui/src/DataGrid/DataGridLoader/styles.ts
  packages/ui/src/DataGrid/styles.ts
  packages/ui/src/NavMenu/NavMenuItem/NavMenuItemButton/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-508,ui,Collapse): Экспорт Collapse компонента
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(UIKIT-509): Внедрен playwright для компонентного тестирования
  cypress.config.ts
  cypress/.eslintrc
  cypress/component/ui/Button.cy.tsx
  cypress/cypress.config.ts
  cypress/package.json
  cypress/support/commands.ts
  cypress/vite.config.js
  package-lock.json
  package.json
  vite.config.js
Due: none

feat(UIKIT-516,ui,DataGrid): Поправлен тип, добавлен комментарий
  packages/ui/src/DataGrid/DataGrid.tsx
  packages/ui/src/DataGrid/DataGridLoader/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-516,ui,DataGrid): Добавлена возможность растягиваться по высоте контейнера (#458)
  packages/ui/src/DataGrid/DataGrid.stories.tsx
  packages/ui/src/DataGrid/DataGrid.tsx
  packages/ui/src/DataGrid/DataGridBody/styles.ts
  packages/ui/src/DataGrid/DataGridLoader/DataGridLoader.tsx
  packages/ui/src/DataGrid/DataGridLoader/styles.ts
  packages/ui/src/DataGrid/styles.ts
  packages/ui/src/NavMenu/NavMenuItem/NavMenuItemButton/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  eb04fdf1374b9cd5178d9060c6fc35c7195d0a93
Due: none

feat(UIKIT-512,icons): Добавлены иконки для Stepper
  packages/icons/index.stories.tsx
  packages/icons/themed-assets/stepDefault-fill-md.svg
  packages/icons/themed-assets/stepError-fill-md.svg
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

feat(UIKIT-512,icons): Исправления в истории icons
  packages/icons/index.stories.tsx
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

feat(UIKIT-512,icons): Переименована иконка ошибки
  packages/icons/themed-assets/circleError-fill-md.svg
Due: none

feat(UIKIT-517,icons): Добавлены новые иконки
  packages/icons/themed-assets/block-outline-md.svg
  packages/icons/themed-assets/draft-outline-md.svg
Due: none

feat(UIKIT-517,icons): Добавлены новые иконки (#461)
  packages/icons/themed-assets/block-outline-md.svg
  packages/icons/themed-assets/draft-outline-md.svg
Due: none

Notes added by 'git notes add'
  b81bb804adddb014254fee1cf34d1d52fd5f975a
Due: none

Update pr_opened_telegram_notification.yml
  .github/workflows/pr_opened_telegram_notification.yml
Due: none

Update label_reviews.yml
  .github/workflows/label_reviews.yml
Due: none
