Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": "npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui",
  "packages/icons/**/*.{js,jsx,ts,tsx}": "npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons",
  "commander/**/*.{js}": "npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander"
}

build: проверка create pull request
  .github/workflows/release.yaml
Due: none

wip(@astral/ui, List): Добавлены стили для ссылок внутри компонента List
  package-lock.json
  package.json
  packages/ui/src/List/List.stories.tsx
  packages/ui/src/List/List.tsx
  packages/ui/src/ListItem/styled.ts
  packages/ui/src/ListItemButton/ListItemButton.tsx
  packages/ui/src/ListItemButton/styled.ts
  packages/ui/src/ListItemButton/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

build: поправлена команда билда шрифтов
  packages/fonts/package.json
Due: none

build: проверка создания pr
  .github/workflows/release.yaml
Due: none

[create-pull-request] automated change
  package-lock.json
Due: none

build: проверка создания pr
  .github/workflows/release.yaml
  CONTRIBUTING.md
Due: none

Update pr_review_requested_telegram_notification.yml
  .github/workflows/pr_review_requested_telegram_notification.yml
Due: none

UIKIT-48 Реализован копонент Select
  packages/ui/src/Select/Select.stories.tsx
  packages/ui/src/Select/Select.tsx
  packages/ui/src/Select/index.ts
  packages/ui/src/Select/styled.tsx
  packages/ui/src/Select/types.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

UIKIT-48 Добавил обработку отсутствия данных
  packages/ui/src/Select/Select.stories.tsx
  packages/ui/src/Select/Select.tsx
  packages/ui/src/Select/styled.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

[create-pull-request] automated change
  package-lock.json
  packages/fonts/package.json
  packages/icons/package.json
Due: none

[create-pull-request] automated change
  package-lock.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: none

UIKIT-48 Поправил тип
  packages/ui/src/Select/Select.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

UIKIT-48 Добавил комментарий
  packages/ui/src/Select/Select.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

wip(@astral/ui, List): Добавлены примеры с ссылкамит в сторибуке
  packages/ui/src/List/List.stories.tsx
  packages/ui/src/ListItemButton/ListItemButton.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

wip(ui, Datapicker): Наработки по Datapicker
  .yarn/cache/date-fns-npm-2.28.0-c19c5add1b-a0516b2e4f.zip
  packages/ui/package.json
  packages/ui/src/DatePicker/DatePicker.stories.tsx
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/constants.ts
  packages/ui/src/DatePicker/index.ts
  packages/ui/src/DatePicker/styled.ts
  packages/ui/src/DatePicker/types.ts
  yarn.lock
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

wip(@astral/ui, List): Добавлены примеры с ссылками и разворачивающимся списоком в сторибуке
  packages/ui/src/List/List.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Update pr_commented_telegram_notification.yml
  .github/workflows/pr_commented_telegram_notification.yml
Due: none

Merge branch 'main' of https://github.com/kaluga-astral/frontend into UI-KIT_88
  .github/workflows/pr_commented_telegram_notification.yml
  .github/workflows/pr_review_requested_telegram_notification.yml
  .github/workflows/release.yaml
  .npmrc
  .yarn/cache/@astral-icons-npm-0.3.0-ebe547c28b-8175b3b429.zip
  .yarn/cache/@mui-base-npm-5.0.0-alpha.69-4f344a0281-8d5acc6abe.zip
  .yarn/cache/@mui-system-npm-5.4.3-bf64de79d2-fe4776f113.zip
  CONTRIBUTING.md
  commander/constants.js
  commander/tasks/build.js
  commander/tasks/copyCommonFiles.js
  commander/tasks/copyFonts.js
  commander/tasks/modifyPackageJSON.js
  commander/tasks/publish.js
  package-lock.json
  package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/icons/svgr.common.config.js
  packages/icons/svgr.custom-config.js
  packages/icons/svgr.themed-config.js
  packages/ui/package.json
  packages/ui/src/Select/Select.stories.tsx
  packages/ui/src/Select/Select.tsx
  packages/ui/src/Select/index.ts
  packages/ui/src/Select/styled.tsx
  packages/ui/src/Select/types.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

refactor(icons): Исправлен include и exclude в tsconfig.lint.json refactor(ui): Исправлен exclude в tsconfig.lint.json
  packages/icons/tsconfig.lint.json
  packages/ui/tsconfig.lint.json
Due: none

wip(ui, Datapicker): Правильное изменение иконки
  packages/ui/src/DatePicker/DatePicker.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Исправления eslint
  .eslintignore
  .eslintrc
  package.json
  packages/icons/tsconfig.json
  packages/icons/tsconfig.lint.json
  packages/ui/tsconfig.json
Due: none

update contributing.md
  CONTRIBUTING.md
Due: none
