Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

chore: Добавлена возможность настройки конфига команды build через аргументы
  commander/constants.js
  commander/main.js
  commander/tasks/build.js
  packages/ui/package.json
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
Due: none

chore: Добавлена папка src в form
  packages/form/src/index.ts
Due: none

chore: Добавлен конфиг для команды tsc в lint:types
  packages/ui/package.json
Due: none

feat(UIKIT-411): добавлен текст комментария для бота телеграмм (#393)
  .github/workflows/pr_commented_telegram_notification.yml
Due: none

bug(UIKIT-231): Для зависимостей mui добавлен ^
  package-lock.json
  packages/ui/package.json
Due: none

Revert "feat(UIKIT-411): добавлен текст комментария для бота телеграмм"
  .github/workflows/pr_commented_telegram_notification.yml
Due: none

feat(UIKIT-421): Исправлен баг с IconButton
  packages/ui/src/ButtonBase/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(UIKIT-426,ui,DashboardLayout): опциональный profile
  packages/ui/src/DashboardLayout/Header/Header.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  d27c4becbe1a7acd446470ef809b847c074e8972
Due: none

bug(UIKIT-231): Для зависимостей mui добавлен ^ (#396)
  package-lock.json
  packages/ui/package.json
Due: none

Notes added by 'git notes add'
  f7fd62a55413a762a9070a213e8e1b1b80a9c697
Due: none

feat(UIKIT-421): Styled components сделаны в соответствии со style guid
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/styles.ts
  packages/ui/src/ButtonBase/ButtonBase.tsx
  packages/ui/src/ButtonBase/styles.ts
  packages/ui/src/IconButton/IconButton.tsx
  packages/ui/src/IconButton/styles.ts
  packages/ui/src/theme/components/MuiButton.ts
  packages/ui/src/theme/components/MuiLoadingButton.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-421): Адаптирован Button под мобильную версию в соответствии с дизайном (#391)
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/styles.ts
  packages/ui/src/ButtonBase/ButtonBase.tsx
  packages/ui/src/ButtonBase/constants.ts
  packages/ui/src/ButtonBase/enums.ts
  packages/ui/src/ButtonBase/index.ts
  packages/ui/src/ButtonBase/styles.ts
  packages/ui/src/ButtonBase/types.ts
  packages/ui/src/GlobalStyles/GlobalStyles.tsx
  packages/ui/src/IconButton/IconButton.tsx
  packages/ui/src/IconButton/styles.ts
  packages/ui/src/theme/components/MuiButton.ts
  packages/ui/src/theme/components/MuiLoadingButton.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  77c42dcfe5651d71ac5b39b3020f97b3c06213c0
Due: none

feat(UIKIT-425): Адаптирован Description под мобильную версию в соответствии с дизайном
  packages/ui/src/Description/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-425,ui,Description): Адаптация под мобильную версию (#399)
  packages/ui/src/Description/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  49a07777bb62dd09f25212d3d18a050c413093ea
Due: none

feat(UIKIT-234,ui,ProductWidget): Добавлен компонент ProductWidget
  packages/ui/src/DashboardLayout/DashboardLayout.stories.tsx
  packages/ui/src/DashboardLayout/Header/Header.tsx
  packages/ui/src/ProductWidget/ProductWidget.stories.tsx
  packages/ui/src/ProductWidget/ProductWidget.tsx
  packages/ui/src/ProductWidget/ProductWidgetContent/ProductWidgetContent.tsx
  packages/ui/src/ProductWidget/ProductWidgetContent/index.ts
  packages/ui/src/ProductWidget/ProductWidgetContent/styles.ts
  packages/ui/src/ProductWidget/ProductWidgetItem/ProductWidgetItem.tsx
  packages/ui/src/ProductWidget/ProductWidgetItem/index.ts
  packages/ui/src/ProductWidget/ProductWidgetItem/styles.ts
  packages/ui/src/ProductWidget/index.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(UIKIT-420,ui,Typography): Исправлена типизация Typography
  packages/ui/src/Typography/Typography.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(UIKIT-420,ui,Typography): Перенесены типы Typography в компонент
  packages/ui/src/Typography/Typography.stories.tsx
  packages/ui/src/Typography/Typography.tsx
  packages/ui/src/Typography/index.ts
  packages/ui/src/Typography/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(UIKIT-350,ui,BackdropStack): фиксы после ревью
  packages/ui/src/BackdropStack/hooks/useBackdropStackToggle/useBackdropStackToggle.ts
  packages/ui/src/BackdropStack/index.ts
  packages/ui/src/BackdropStack/services/BackdropStackManager/BackdropStackManager.ts
  packages/ui/src/BackdropStack/services/BackdropStackManager/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-350,ui,BackdropStack): Реализация абстрактного компонента BackdropStackManager (#395)
  package-lock.json
  packages/ui/package.json
  packages/ui/src/BackdropStack/BackdropStack.stories.tsx
  packages/ui/src/BackdropStack/hooks/useBackdropStackToggle/index.ts
  packages/ui/src/BackdropStack/hooks/useBackdropStackToggle/useBackdropStackToggle.ts
  packages/ui/src/BackdropStack/index.ts
  packages/ui/src/BackdropStack/services/BackdropStackManager/BackdropStackManager.ts
  packages/ui/src/BackdropStack/services/BackdropStackManager/index.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  04ebd12cab03e6fb4b4da8b240bcecd3df638436
Due: none

chore: Измененая конфигурация по умолчанию для сборки ui и icons
  commander/constants.js
  commander/tasks/build.js
  packages/icons/tsconfig.build.json
  packages/ui/tsconfig.json
Due: none

chore: Исправлены скрипты для сборки ui пакета
  packages/ui/package.json
Due: none

chore: Исправление ошибок линтера по типам
  packages/ui/package.json
  packages/ui/src/ActionCell/ActionCell.stories.tsx
  packages/ui/src/ContentState/ContentState.stories.tsx
  packages/ui/src/DashboardLayout/DashboardLayout.stories.tsx
  packages/ui/src/DatePicker/DatePicker.stories.tsx
  packages/ui/src/ListItemButton/ListItemButton.tsx
  packages/ui/src/NavMenu/NavMenu.stories.tsx
  packages/ui/src/Placeholder/Placeholder.stories.tsx
  packages/ui/src/Select/Select.stories.tsx
  packages/ui/src/TextField/TextField.stories.tsx
  packages/ui/src/Typography/Typography.stories.tsx
  packages/ui/tsconfig.json
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-428,ui,Description): Изменён размер шрифта для mobile и default цвет для Name
  packages/ui/src/Description/Name/Name.tsx
  packages/ui/src/Description/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: Исправлен tsconfig для icons пакета
  packages/icons/index.stories.tsx
  packages/icons/tsconfig.json
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

bug(UIKIT-350): Расширение причин для закрытия
  packages/ui/src/BackdropStack/services/BackdropStackManager/BackdropStackManager.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-428,ui,Description): Изменён размер шрифта для mobile и default цвет для Name
  packages/ui/src/Description/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-428,ui,Description): Изменён размер шрифта для mobile и default цвет для Name (#402)
  packages/ui/src/Description/Name/Name.tsx
  packages/ui/src/Description/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  6b7a00e0b82a6dfcc04d226f0d3507c54082c608
Due: none

bug(UIKIT-350): Расширение причин для закрытия в BackdropClickManager (#403)
  packages/ui/src/BackdropStack/services/BackdropStackManager/BackdropStackManager.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  d71733be6c97cd188de38bfd19110437e54c7c26
Due: none

chore(ui): Добавлены декларации для изображений
  packages/ui/declarations/images.d.ts
  packages/ui/src/ContentState/ContentState.stories.tsx
  packages/ui/src/Placeholder/Placeholder.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: Добавлены отдельные ts-конфиги для сборки пакетов (#394)
  commander/constants.js
  commander/main.js
  commander/tasks/build.js
  packages/form/src/index.ts
  packages/icons/index.stories.tsx
  packages/icons/tsconfig.build.json
  packages/icons/tsconfig.json
  packages/ui/declarations/images.d.ts
  packages/ui/package.json
  packages/ui/src/ActionCell/ActionCell.stories.tsx
  packages/ui/src/ContentState/ContentState.stories.tsx
  packages/ui/src/DashboardLayout/DashboardLayout.stories.tsx
  packages/ui/src/DatePicker/DatePicker.stories.tsx
  packages/ui/src/ListItemButton/ListItemButton.tsx
  packages/ui/src/NavMenu/NavMenu.stories.tsx
  packages/ui/src/Select/Select.stories.tsx
  packages/ui/src/TextField/TextField.stories.tsx
  packages/ui/src/Typography/Typography.stories.tsx
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

feat(UIKIT-217,ui,DataGrid): Реализация состояние NoData
  packages/illustrations/src/no-data.svg
  packages/ui/src/DataGrid/DataGrid.stories.tsx
  packages/ui/src/DataGrid/DataGrid.tsx
  packages/ui/src/DataGrid/DataGridBody/DataGridBody.tsx
  packages/ui/src/DataGrid/DataGridBody/styles.ts
  packages/ui/src/DataGrid/DataGridNoData/DataGridNoData.tsx
  packages/ui/src/DataGrid/DataGridNoData/index.ts
  packages/ui/src/DataGrid/DataGridNoData/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-217,ui,DataGrid): Реализация состояние NoData
  packages/ui/src/DataGrid/DataGridNoData/DataGridNoData.tsx
  packages/ui/src/DataGrid/DataGridNoData/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-217,ui,DataGrid): Реализация состояние NoData
  packages/ui/src/DataGrid/DataGrid.stories.tsx
  packages/ui/src/DataGrid/DataGrid.tsx
  packages/ui/src/DataGrid/DataGridBody/DataGridBody.tsx
  packages/ui/src/DataGrid/DataGridNoData/DataGridNoData.tsx
  packages/ui/src/DataGrid/DataGridNoData/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Path conditions:
  npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons: any of: packages/icons/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander: any of: commander/**/*.{js}
