Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

build: настроен lint-staged. Добавлена в precommit hook проверка типов
  .lintstagedrc.json
  lint-staged.config.js
  package-lock.json
  package.json
  packages/ui/package.json
Due: none

build: поправлен скрипт запуска lint
  package.json
Due: none

wip(@astral/ui, NavBar): правки по ревью
  package.json
  packages/ui/src/NavBar/NavBar.stories.tsx
  packages/ui/src/NavBar/NavBar.tsx
  packages/ui/src/NavBar/styled.tsx
  yarn.lock
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

wip(@astral/ui, NavBar): правки по ревью
  packages/ui/src/NavBar/NavBar.stories.tsx
  packages/ui/src/NavBar/NavBar.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

build: добавлена команда для линтинга типов всех пакетов. В ci добавлена команда линтинга типов
  .github/workflows/ci_packages.yml
  package.json
Due: none

build: поправлена команда запуска проверки типов для icons и ui
  package.json
  packages/icons/package.json
  packages/ui/package.json
Due: none

fix(ui, DashboardLayout): добавлен экспорт из пакета
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

build: добавлео автообновление зависимостей при билде
  commander/constants.js
  commander/tasks/build.js
  package.json
  packages/fonts/package.json
  packages/ui/package.json
Due: none

build: добавлены логи для команд commander
  commander/tasks/copyCommonFiles.js
  commander/tasks/copyFonts.js
  commander/tasks/modifyPackageJSON.js
Due: none

build: добавлены логи для publish команды
  commander/tasks/publish.js
Due: none

build: убраны лишние логи из build команды
  commander/tasks/modifyPackageJSON.js
Due: none

build: поправлена команда build
  commander/tasks/modifyPackageJSON.js
  packages/icons/package.json
Due: none

build: исправлены команды publish
  packages/fonts/package.json
  packages/ui/package.json
Due: none

build: ускорен линтинг типов для icons
  packages/icons/package.json
Due: none

build: добален триггер на создание release на github
  .github/workflows/release.yaml
Due: none

UIKIT-50 Вынес стили Autocomplete в тему, исправил типизацию
  packages/ui/src/Autocomplete/Autocomplete.stories.tsx
  packages/ui/src/Autocomplete/Autocomplete.tsx
  packages/ui/src/Autocomplete/styled.tsx
  packages/ui/src/Autocomplete/types.ts
  packages/ui/src/theme/components/MuiAutocomplete.ts
  packages/ui/src/theme/components/components.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

UIKIT-50 Добавил Autocomplete в index
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

UIKIT-50 Поправил стили, тип
  packages/ui/src/Autocomplete/Autocomplete.tsx
  packages/ui/src/Autocomplete/types.ts
  packages/ui/src/theme/components/MuiAutocomplete.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

UIKIT-50 Убрал дефолтное значение плейсхолдера
  packages/ui/src/Autocomplete/Autocomplete.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

wip(@astral/ui, List): Сделан компонент List и дочерние и подготовлены стили для ссылок
  packages/ui/src/List/List.stories.tsx
  packages/ui/src/ListItem/styled.ts
  packages/ui/src/ListItemButton/styled.ts
  packages/ui/src/NavBar/NavBar.stories.tsx
  packages/ui/src/NavBar/NavBar.tsx
  packages/ui/src/NavBar/constants.ts
  packages/ui/src/NavBar/index.ts
  packages/ui/src/NavBar/styled.tsx
  packages/ui/src/NavBar/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

refactor(icons): Выделен общий svgr-конфиг
  packages/icons/svgr.common.config.js
  packages/icons/svgr.custom-config.js
  packages/icons/svgr.themed-config.js
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

wip(@astral/ui, List): Вернул строчки в Grid.stories.tsx которые по ошибке удалил
  packages/ui/src/Grid/Grid.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

wip(@astral/ui, List): Вернул строчки в Grid.stories.tsx которые по ошибке удалил
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

wip(@astral/ui, List): Сделан компонент List и дочерние и подготовлены стили для ссылок
  packages/ui/src/Collapse/Collapse.stories.tsx
  packages/ui/src/Collapse/Collapse.tsx
  packages/ui/src/Collapse/index.ts
  packages/ui/src/Divider/Divider.stories.tsx
  packages/ui/src/Divider/Divider.tsx
  packages/ui/src/Divider/index.ts
  packages/ui/src/List/List.stories.tsx
  packages/ui/src/List/List.tsx
  packages/ui/src/List/index.ts
  packages/ui/src/ListItem/ListItem.stories.tsx
  packages/ui/src/ListItem/ListItem.tsx
  packages/ui/src/ListItem/constants.ts
  packages/ui/src/ListItem/index.ts
  packages/ui/src/ListItem/styled.ts
  packages/ui/src/ListItem/types.ts
  packages/ui/src/ListItemAvatar/ListItemAvatar.stories.tsx
  packages/ui/src/ListItemAvatar/ListItemAvatar.tsx
  packages/ui/src/ListItemAvatar/index.ts
  packages/ui/src/ListItemButton/ListItemButton.stories.tsx
  packages/ui/src/ListItemButton/ListItemButton.tsx
  packages/ui/src/ListItemButton/constants.ts
  packages/ui/src/ListItemButton/index.ts
  packages/ui/src/ListItemButton/styled.ts
  packages/ui/src/ListItemButton/types.ts
  packages/ui/src/ListItemIcon/ListItemIcon.stories.tsx
  packages/ui/src/ListItemIcon/ListItemIcon.tsx
  packages/ui/src/ListItemIcon/index.ts
  packages/ui/src/ListItemIcon/styled.ts
  packages/ui/src/ListItemSecondaryAction/ListItemSecondaryAction.stories.tsx
  packages/ui/src/ListItemSecondaryAction/ListItemSecondaryAction.tsx
  packages/ui/src/ListItemSecondaryAction/index.ts
  packages/ui/src/ListItemText/ListItemText.stories.tsx
  packages/ui/src/ListItemText/ListItemText.tsx
  packages/ui/src/ListItemText/index.ts
  packages/ui/src/ListSubheader/ListSubheader.stories.tsx
  packages/ui/src/ListSubheader/ListSubheader.tsx
  packages/ui/src/ListSubheader/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

build: настроен авторелиз
  .github/workflows/release.yaml
  .npmrc
  commander/tasks/modifyPackageJSON.js
  commander/tasks/publish.js
  package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: none

wip(@astral/ui, ListItemButton): Добавлен интерактив для ListItemButton
  packages/ui/src/List/List.stories.tsx
  packages/ui/src/ListItem/styled.ts
  packages/ui/src/ListItemButton/ListItemButton.stories.tsx
  packages/ui/src/ListItemButton/ListItemButton.tsx
  packages/ui/src/ListItemButton/styled.ts
  packages/ui/src/ListItemSecondaryAction/ListItemSecondaryAction.tsx
  packages/ui/src/ListSubheader/ListSubheader.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

build: поправлена команда build
  commander/tasks/build.js
Due: none

build: поправлена команда авторелиза в gh actions
  .github/workflows/release.yaml
Due: none

build: поправлена команда установка зависимостей при авторелизе
  .github/workflows/release.yaml
Due: none

build: поправлена команда gh actions - commit and push
  .github/workflows/release.yaml
  package-lock.json
  packages/ui/package.json
Due: none

build: fix release
  .github/workflows/release.yaml
Due: none

build: добавлено создание pull request при релизе
  .github/workflows/release.yaml
Due: none

build: проверка create pull request
  .github/workflows/release.yaml
Due: none

[create-pull-request] automated change
  package-lock.json
Due: none

Path conditions:
  npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons: any of: packages/icons/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander: any of: commander/**/*.{js}
