Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

doc(UIKIT-524,ui,DataGrid): Добавлен кейс в storybook для disabled состояния DataGrid
  packages/ui/src/DataGrid/DataGrid.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(UIKIT-523,ui,DataGrid): Исправлено дублирование строк в onSelectRow (через uniqBy)
  packages/ui/src/DataGrid/DataGrid.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: cypress
  cypress/component/ui/Autocomplete.cy.tsx
  cypress/component/ui/Button.cy.tsx
  cypress/cypress.config.ts
  package.json
Due: none

chore: test ref
  cypress/component/ui/Autocomplete.cy.tsx
  cypress/component/ui/Button.cy.tsx
Due: none

chore: test ref
  cypress/component/ui/Autocomplete.cy.tsx
  cypress/component/ui/Button.cy.tsx
  cypress/component/ui/DropdownButton.cy.tsx
  packages/ui/src/DropdownButton/DropdownButton.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(UIKIT-523,ui,DataGrid): Исправлено дублирование отмеченных строк в onSelectRow (#470)
  packages/ui/src/DataGrid/DataGrid.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  e6200c4356ef5457cb2ffef17f711c35edbb7ef5
Due: none

bug(UIKIT-533,icons): Исправлена иконка crossSm-outline-sm
  packages/icons/themed-assets/crossSm-outline-sm.svg
Due: none

bug(UIKIT-533,icons): Убрал параметр floatPrecision для svgr.custom-config
  packages/icons/svgr.custom-config.js
  packages/icons/themed-assets/crossSm-outline-sm.svg
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

feat(UIKIT-187,icons): добавлена иконка arrowL-outline-md
  packages/icons/themed-assets/arrowL-outline-md.svg
Due: none

feat(UIKIT-187,ui,Breadcrumbs): добавлен компонент Breadcrumbs
  packages/ui/src/Breadcrumbs/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageLayoutContainer): добавлен компонент PageLayoutContainer
  packages/ui/src/PageLayoutContainer/PageLayoutContainer.tsx
  packages/ui/src/PageLayoutContainer/index.ts
  packages/ui/src/PageLayoutContainer/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageAside): добавлен компонент PageAside
  packages/ui/src/PageAside/PageAside.tsx
  packages/ui/src/PageAside/index.ts
  packages/ui/src/PageAside/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageContent): добавлен компонент PageContent
  packages/ui/src/PageContent/PageContent.tsx
  packages/ui/src/PageContent/index.ts
  packages/ui/src/PageContent/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageHeader): добавлен компонент PageHeader
  packages/ui/src/PageHeader/ButtonGroups/ButtonGroups.tsx
  packages/ui/src/PageHeader/ButtonGroups/index.ts
  packages/ui/src/PageHeader/ButtonGroups/styles.ts
  packages/ui/src/PageHeader/PageHeader.tsx
  packages/ui/src/PageHeader/index.ts
  packages/ui/src/PageHeader/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageLayout): добавлен компонент PageLayout
  packages/ui/src/PageLayout/PageLayout.stories.tsx
  packages/ui/src/PageLayout/PageLayout.tsx
  packages/ui/src/PageLayout/index.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageHeader): добавлена story для PageHeader
  packages/ui/src/PageHeader/PageHeader.stories.tsx
  packages/ui/src/PageHeader/PageHeaderDashboardStory.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageHeader): исправления story
  packages/ui/src/PageHeader/PageHeader.stories.tsx
  packages/ui/src/PageHeader/PageHeaderDashboardStory.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Revert "feat(UIKIT-524,ui,DataGrid): Добавлено disabled состояние и использование его для loading"
  packages/ui/src/DataGrid/DataGrid.tsx
  packages/ui/src/DataGrid/DataGridLoader/DataGridLoader.tsx
  packages/ui/src/DataGrid/DataGridLoader/styles.ts
  packages/ui/src/DataGrid/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: исправлена версия зависимостей
  packages/ui/package.json
Due: none

chore: Добавлены тест кейсы для DropdownButton
  package-lock.json
  playwright/package.json
  playwright/tests/ui/Button.test.tsx
  playwright/tests/ui/DropdownButton.test.tsx
Due: none

chore: добавлен html-webpack-plugin
  package-lock.json
  package.json
Due: none

chore: добавлен webpack
  package-lock.json
  package.json
Due: none

chore: исправлен tests ci
  package.json
Due: none

chore: исправлен tests ci
  package.json
  packages/ui/package.json
Due: none

chore: исправлен tests ci
  packages/form/package.json
Due: none

feat(UIKIT-187,ui,PageLayout): исправления
  packages/ui/src/Breadcrumbs/index.ts
  packages/ui/src/PageContent/PageContent.tsx
  packages/ui/src/PageContent/styles.ts
  packages/ui/src/PageHeader/ButtonGroup/ButtonGroup.tsx
  packages/ui/src/PageHeader/ButtonGroup/index.ts
  packages/ui/src/PageHeader/ButtonGroup/styles.ts
  packages/ui/src/PageHeader/ButtonGroups/index.ts
  packages/ui/src/PageHeader/PageHeader.stories.tsx
  packages/ui/src/PageHeader/PageHeader.tsx
  packages/ui/src/PageHeader/PageHeaderDashboardStory.tsx
  packages/ui/src/PageLayout/PageLayout.stories.tsx
  packages/ui/src/PageLayout/PageLayout.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageLayout): исправления
  packages/ui/src/PageHeader/ButtonGroup/ButtonGroup.tsx
  packages/ui/src/PageHeader/ButtonGroup/styles.ts
  packages/ui/src/PageHeader/PageHeader.stories.tsx
  packages/ui/src/PageHeader/PageHeader.tsx
  packages/ui/src/PageHeader/PageHeaderDashboardStory.tsx
  packages/ui/src/PageHeader/styles.ts
  packages/ui/src/PageLayout/PageLayout.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageLayout): исправления
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageLayout): добавлен prop fullWidth для ExampleTemplate.Case
  packages/ui/src/PageHeader/PageHeader.stories.tsx
  packages/ui/src/PageLayout/PageLayout.stories.tsx
  packages/ui/src/docs/Case/Case.tsx
  packages/ui/src/docs/Case/styles.ts
  packages/ui/src/docs/ExampleTemplate/ExampleTemplate.tsx
  packages/ui/src/docs/ExampleTemplate/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-524,ui,DataGrid): Реализовано disabled состояние по обновленному дизайну
  packages/ui/src/DataGrid/DataGrid.tsx
  packages/ui/src/DataGrid/DataGridLoader/DataGridLoader.tsx
  packages/ui/src/DataGrid/DataGridLoader/styles.ts
  packages/ui/src/DataGrid/styles.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageLayout): исправления
  packages/ui/src/PageLayout/PageLayout.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-187,ui,PageLayout): Добавлен компонент PageLayout (#474)
  package-lock.json
  package.json
  packages/form/package.json
  packages/icons/themed-assets/arrowL-outline-md.svg
  packages/ui/package.json
  packages/ui/src/Breadcrumbs/index.ts
  packages/ui/src/PageAside/PageAside.tsx
  packages/ui/src/PageAside/index.ts
  packages/ui/src/PageAside/styles.ts
  packages/ui/src/PageContent/PageContent.tsx
  packages/ui/src/PageContent/index.ts
  packages/ui/src/PageContent/styles.ts
  packages/ui/src/PageHeader/ButtonGroup/ButtonGroup.tsx
  packages/ui/src/PageHeader/ButtonGroup/index.ts
  packages/ui/src/PageHeader/ButtonGroup/styles.ts
  packages/ui/src/PageHeader/PageHeader.stories.tsx
  packages/ui/src/PageHeader/PageHeader.tsx
  packages/ui/src/PageHeader/PageHeaderDashboardStory.tsx
  packages/ui/src/PageHeader/index.ts
  packages/ui/src/PageHeader/styles.ts
  packages/ui/src/PageLayout/PageLayout.stories.tsx
  packages/ui/src/PageLayout/PageLayout.tsx
  packages/ui/src/PageLayout/index.ts
  packages/ui/src/PageLayoutContainer/PageLayoutContainer.tsx
  packages/ui/src/PageLayoutContainer/index.ts
  packages/ui/src/PageLayoutContainer/styles.ts
  packages/ui/src/docs/Case/Case.tsx
  packages/ui/src/docs/Case/styles.ts
  packages/ui/src/docs/ExampleTemplate/ExampleTemplate.tsx
  packages/ui/src/docs/ExampleTemplate/styles.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Notes added by 'git notes add'
  2236d4437c4b024819a95b52ba1252115ac41dc9
Due: none

feat(UIKIT-524,ui,DataGrid): Вынесен loading || disabled в needUseDisabledState
  packages/ui/src/DataGrid/DataGrid.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(UIKIT-524,ui,DataGrid): Переименован needUseDisabledState в isTableDisabled
  packages/ui/src/DataGrid/DataGrid.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

build(UIKIT-548,form): Исправлен битый релиз пакета
  packages/form/declarations/declarations.d.ts
Due: none

build(UIKIT-548,form): Исправлен битый релиз пакета (#475)
  packages/form/declarations/declarations.d.ts
Due: none

Notes added by 'git notes add'
  5892d92b3093004633e2aed73d392bc610f6cc5d
Due: none

build(icons): Возвращен floatPrecision
  packages/icons/svgr.custom-config.js
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

Path conditions:
  npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons: any of: packages/icons/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander: any of: commander/**/*.{js}
