Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": "npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui",
  "packages/icons/**/*.{js,jsx,ts,tsx}": "npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons",
  "commander/**/*.{js}": "npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander"
}

Update pr_approved_telegram_notification.yml
  .github/workflows/pr_approved_telegram_notification.yml
Due: none

Update pr_commented_telegram_notification.yml
  .github/workflows/pr_commented_telegram_notification.yml
Due: none

Update pr_merged_telegram_notification.yml
  .github/workflows/pr_merged_telegram_notification.yml
Due: none

Update pr_opened_telegram_notification.yml
  .github/workflows/pr_opened_telegram_notification.yml
Due: none

Update pr_review_requested_telegram_notification.yml
  .github/workflows/pr_review_requested_telegram_notification.yml
Due: none

bug(ui,Button): установлен variant contained как дефоулт проп
  packages/ui/src/Button/Button.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

refactor(ui,Button): удален ButtonVariants
  packages/ui/src/Button/Button.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

refactor(ui,Typography): добавлен экспорт типов
  packages/ui/src/Typography/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,MaskField): добавлена возможность прокидывать кастомный onAccept
  packages/ui/src/MaskField/MaskField.tsx
  packages/ui/src/MaskField/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,DatePicker): добавлена стилизация компонентов
  packages/ui/src/DatePicker/DatePickerDay/styled.ts
  packages/ui/src/DatePicker/DatePickerHeader/DatePickerHeader.tsx
  packages/ui/src/DatePicker/DatePickerHeader/styled.tsx
  packages/ui/src/DatePicker/styled.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,DatePicker): правки компонента и типа
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,DatePicker): правки истории
  packages/ui/src/DatePicker/DatePicker.stories.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,DatePicker): вынесены пропсы MaskField в отдельный проп
  packages/ui/src/DatePicker/DatePicker.stories.tsx
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(ui,Placeholder): Установлена максимальная ширина контента Placeholder
  packages/ui/src/Placeholder/styled.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

refactor(ui,DatePicker): правки по style guide
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/DatePickerDay/DatePickerDay.tsx
  packages/ui/src/DatePicker/DatePickerDay/styled.ts
  packages/ui/src/DatePicker/DatePickerDay/types.ts
  packages/ui/src/DatePicker/DatePickerHeader/DatePickerHeader.tsx
  packages/ui/src/DatePicker/DatePickerHeader/styled.tsx
  packages/ui/src/DatePicker/index.ts
  packages/ui/src/DatePicker/styled.tsx
  packages/ui/src/DatePicker/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

bug(ui,Button): Поправил отступы от иконки
  package-lock.json
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/styled.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,DatePicker): добавлен проп autofix для MaskField
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/MaskField/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: Review fixes
  packages/ui/src/Notification/Notification.tsx
  packages/ui/src/Notification/constants/index.ts
  packages/ui/src/Notification/constants/notificationVariant.tsx
  packages/ui/src/Notification/styled.ts
  packages/ui/src/Notification/types.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: Review fixes
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(icons): Добавлен для соц сетей конкретный цвет иконки, а также эти иконки были перенесены в папку, которая не зависит от theme
  packages/icons/custom-assets/facebook-fill-md.svg
  packages/icons/custom-assets/twitter-fill-md.svg
  packages/icons/custom-assets/vk-fill-md.svg
  packages/icons/custom-assets/youtube-fill-md.svg
  packages/icons/themed-assets/facebook-fill-md.svg
  packages/icons/themed-assets/twitter-fill-md.svg
  packages/icons/themed-assets/vk-fill-md.svg
  packages/icons/themed-assets/youtube-fill-md.svg
Due: none

feat(ui,DatePicker): добавлен кастомный обработчик выбора даты
  packages/ui/src/DatePicker/DatePicker.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: Обновлены версии пакетов до 0.28.0
  packages/fonts/package.json
  packages/icons/package.json
  packages/illustrations/package.json
  packages/ui/package.json
Due: none

feat(ui,DatePicker): исправления
  packages/ui/src/DatePicker/DatePicker.stories.tsx
  packages/ui/src/DatePicker/DatePicker.tsx
  packages/ui/src/DatePicker/styled.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat: Реализует компонент Header
  packages/ui/src/DashboardLayout/DashboardLayout.stories.tsx
  packages/ui/src/DashboardLayout/DashboardLayout.tsx
  packages/ui/src/DashboardLayout/DashboardLayoutStory.tsx
  packages/ui/src/DashboardLayout/DashboardLayoutStoryTemplate.tsx
  packages/ui/src/DashboardLayout/Header/Header.tsx
  packages/ui/src/DashboardLayout/Header/HeaderNav/HeaderNav.tsx
  packages/ui/src/DashboardLayout/Header/HeaderNav/index.ts
  packages/ui/src/DashboardLayout/Header/HeaderNav/styled.tsx
  packages/ui/src/DashboardLayout/Header/index.ts
  packages/ui/src/DashboardLayout/Header/styled.tsx
  packages/ui/src/DashboardLayout/Header/types.ts
  packages/ui/src/DashboardLayout/Main/Main.tsx
  packages/ui/src/DashboardLayout/Main/styled.tsx
  packages/ui/src/DashboardLayout/Sidebar/Sidebar.tsx
  packages/ui/src/DashboardLayout/Sidebar/styled.ts
  packages/ui/src/DashboardLayout/constants.ts
  packages/ui/src/DashboardLayout/styled.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,theme): добавлены брейкпойнты
  packages/ui/src/theme/baseTheme.ts
  packages/ui/src/theme/breakpoints.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,theme): добавлена возможность прокидывать кастомные брейкпойнты
  packages/ui/src/theme/baseTheme.ts
  packages/ui/src/theme/breakpoints.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(icons): иконкам success, warning, error добавлена возможность изменять цвет
  package-lock.json
  packages/icons/README.md
  packages/icons/index.stories.tsx
  packages/icons/package.json
  packages/icons/svgr.template.js
  packages/icons/themed-assets/error-fill-md.svg
  packages/icons/themed-assets/error-fill-sm.svg
  packages/icons/themed-assets/success-fill-md.svg
  packages/icons/themed-assets/success-fill-sm.svg
  packages/icons/themed-assets/warning-fill-md.svg
  packages/icons/themed-assets/warning-fill-sm.svg
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

refactor(ui,Radio,RadioGroup): добавлен экспорт
  packages/ui/src/RadioGroup/RadioGroup.tsx
  packages/ui/src/RadioGroup/index.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: test commitlint
  commitlint.config.js
  package-lock.json
Due: none

chore: UI-KIT-000 test commitlint
  commitlint.config.js
Due: none

chore: UI-KT-000 test commitlint
  commitlint.config.js
Due: none

chore(icons): иконке info добавлена возможность изменять цвет
  packages/icons/themed-assets/info-fill-md.svg
  packages/icons/themed-assets/info-fill-sm.svg
Due: none

UI-KIT-0000: feat: test commitlint
  commitlint.config.js
  package-lock.json
  package.json
Due: none

UI-KIT-0000: feat: test commitlint
  commitlint.config.js
Due: none

UIKIT-0000: feat: test commitlint
  commitlint.config.js
Due: none

chore: для commitlint добавлен префикс
  commitlint.config.js
Due: none

chore: Test commitlint
  commitlint.config.js
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none
