Repository kaluga-astral/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui, npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons, npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander

chore: увеличено количество символов в коммите до 90
  commitlint.config.js
Due: none

UIKIT-174: feat(ui,DropdownButton): Добавлен IconDropdownButton
  packages/ui/src/DropdownButton/index.ts
  packages/ui/src/DropdownButton/styled.tsx
  packages/ui/src/DropdownButton/styles.ts
  packages/ui/src/DropdownButton/types.ts
  packages/ui/src/IconDropdownButton/IconDropdownButton.stories.tsx
  packages/ui/src/IconDropdownButton/IconDropdownButton.tsx
  packages/ui/src/IconDropdownButton/index.ts
  packages/ui/src/IconDropdownButton/styles.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Update pr_opened_telegram_notification.yml
  .github/workflows/pr_opened_telegram_notification.yml
Due: none

chore(icons): убраны ColoredIcons в стрибуке, на их место добавлены логотипы компаний. Переход с грид mui на грид UI-KIT
  packages/icons/index.stories.tsx
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

chore(icons): исправлено название блока отображения логотипов компаний на СompaniesLogos
  packages/icons/index.stories.tsx
Due: npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons

doc: добавлена документация для веток
  CONTRIBUTING.md
Due: none

UIKIT-174: feat(ui,DropdownButton): Добавлено описание пропсов
  packages/ui/src/DropdownButton/DropdownButton.tsx
  packages/ui/src/IconDropdownButton/IconDropdownButton.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

doc: добавлена информация по merge PR
  CONTRIBUTING.md
Due: none

chore: Обновлены версии пакетов до 0.30.0
  packages/fonts/package.json
  packages/icons/package.json
  packages/illustrations/package.json
  packages/ui/package.json
Due: none

doc: изменен формат именования веток
  CONTRIBUTING.md
Due: none

feat(form): создан пакет @astral/form
  .github/workflows/release.yaml
  README.md
  commander/constants.js
  packages/form/README.md
  packages/form/package.json
Due: none

bug(ui,Button): Исправлены отступы от иконки
  package-lock.json
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/styled.ts
  packages/ui/src/theme/components/MuiButton.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

UIKIT-135: feat(ui,ContentState): Реализован компонент для управления состоянием
  packages/ui/src/ContentState/ContentState.stories.tsx
  packages/ui/src/ContentState/ContentState.tsx
  packages/ui/src/ContentState/index.ts
  packages/ui/src/ContentState/types.ts
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

fix(form): исправлены ошибки eslint
  .github/workflows/release.yaml
  commander/constants.js
  packages/form/README.md
Due: none

chore(ui,Profile): добавлен экспорт компонента
  packages/ui/src/index.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore(ui,Profile): исправления линтера
  packages/ui/src/Profile/styled.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

chore: Обновлены версии пакетов до 0.31.0
  packages/fonts/package.json
  packages/icons/package.json
  packages/illustrations/package.json
  packages/ui/package.json
Due: none

feat(ui,Notification): Доработал stylelint
  packages/ui/src/Checkbox/styled.tsx
  stylelint.config.js
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

feat(ui,Notification): Доработал stylelint
  packages/ui/src/Checkbox/styled.tsx
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

UIKIT-174: feat(ui,DropdownButton): Добавлен хук useMenu
  packages/ui/src/DropdownButton/DropdownButton.tsx
  packages/ui/src/IconButton/IconButton.tsx
  packages/ui/src/IconDropdownButton/IconDropdownButton.tsx
  packages/ui/src/Menu/Menu.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useMenu.ts
Due: npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui

Path conditions:
  npm run lint:types --workspace=@astral/ui && npm run lint --workspace=@astral/ui: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/icons && npm run lint --workspace=@astral/icons: any of: packages/icons/**/*.{js,jsx,ts,tsx}
  npm run lint:types --workspace=@astral/commander && npm run lint --workspace=@astral/commander: any of: commander/**/*.{js}
